* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App-header {
  background: linear-gradient(#0b1c36, #365075);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  gap: 20px;
  position: relative;

}

.div_container {
  height: 150px;
  width: 220px;
  background-color: aliceblue;
  position: relative;
}

.sec1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5998ee;
  color: #f0f8ff;
  font-size: larger;
  transition: all 400ms ease 100ms;

}


.sec2 {
  height: 30px;
  width: 100%;
  z-index: -1;
  position: absolute;
  bottom: 0;
  background-color: #3573da;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: #fff;
  padding-bottom: 5px;
}


@media screen and (max-width:600px) {
  .App-header {
    display: flex;
    flex-direction: column;
    gap: 40px;

  }
}